/* HOMEPAGE LARGE */

#homepage-large {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 89vh;
	margin-top: 6vh;
	margin-bottom: 6vh;
	background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

#homepage-large #main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#homepage-large #main-container h1 {
	color: black;
	font-size: 45px;
}

#homepage-large #main-container p {
	color: black;
	font-size: 35px;
}

#homepage-large #main-container img {
	height: auto;
	width: 45vw;
	margin-top: 5vh;
}

/* HOMEPAGE MEDIUM */

#homepage-medium {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 88vh;
	margin-top: 6vh;
	margin-bottom: 6vh;
	background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

#homepage-medium #main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#homepage-medium #main-container h1 {
	color: black;
	font-size: 25px;
}

#homepage-medium #main-container p {
	color: black;
	font-size: 15px;
}

#homepage-medium #main-container img {
	height: auto;
	width: 80vw;
	margin-top: 5vh;
}

/* HOMEPAGE SMALL */

#homepage-small {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 88vh;
	margin-top: 6vh;
	margin-bottom: 6vh;
	background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

#homepage-small #main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#homepage-small #main-container h1 {
	color: black;
	font-size: 25px;
}

#homepage-small #main-container p {
	color: black;
	font-size: 15px;
}

#homepage-small #main-container img {
	height: auto;
	width: 80vw;
	margin-top: 5vh;
}
